<html class="backgroundcolor">
<head>
    <meta charset="UTF-8">
    <title>Cronch Login</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  
  <body>
    {{{body}}}
    </body>
  
  </html>