<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>user</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">


  </head>
  <body>
    <nav class="navbar navbackground" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          
            <img class="navbar-item" src="/img/cronch logo.png" width="140" height="28">
          
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item textcolor">
              Home
            </a>
      
            <div class="navbar-item has-dropdown is-hoverable textcolor">
              <a class="navbar-link textcolor" >
                More
              </a>
      
              <div class="navbar-dropdown">
                <a class="navbar-item">
                  Contact
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                  Report an issue
                </a>
              </div>
            </div>
          </div>
      
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button buttoncolor textcolor">
                  <strong>Log Out</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>

    <div class="columns">
      <form class="box column is-half is-mobile is-offset-one-quarter messege-box">
        <div class="field">
            <label class="label">Let People know how your feeling</label>
            <div class="control">
              <textarea class="textarea" placeholder="Let Your Heart Out"></textarea>
            </div>
          </div>
        <button class="button buttoncolor textcolor">Post</button>
      </form>

      

    </div>

    <div class="box column is-half is-mobile is-offset-one-quarter messege-box">
          
          <div class="media-content">
            <div class="content">
              <p>
                <strong>John Smith</strong> <small>@johnsmith</small> 
                <br>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
              </p>
            </div>
            
            <nav class="level is-mobile">
                <p>000</p>
              <div class="level-left">
                
                <a class="level-item" aria-label="like">
                  <span class="icon is-small">
                    <p>▲</p>
                  </span>
                </a>

                <a class="level-item" aria-label="dislike">
                    <span class="icon is-small">
                      <p><span class="leftalittle"></span>▼</p>
                    </span>
                  </a>

              </div>
            </nav>
          </div>

        </article>
      </div>

      

  </body>
  <script src="./public/js/toggle.js"></script>
</html>
