<html class="backgroundcolor">
<head>
  <meta charset="UTF-8">
  <title>Cronch Login</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <form class="box column is-half is-mobile is-offset-one-quarter messege-box signup-form">
    <div class="field">
    <label class="label">Username</label>
    <div class="control">
      <input id="username" class="form-input input" type="username" placeholder="e.g. username">
    </div>
  </div>

  <div class="field">
    <label class="label">Email</label>
    <div class="control">
      <input id="email" class="form-input input" type="email" placeholder="e.g. alex@example.com">
    </div>
  </div>

  <div class="field">
    <label class="label">Password</label>
    <div class="control">
      <input id="password" class="form-input input" type="password" placeholder="********">
    </div>
  </div>

  <button type="submit" id="submitbtn" class="button buttoncolor textcolor">Create Account</button>
</form>
  </body>
<script href="js/Create-Account.js"></script>
</html>